<h1>Você recebeu um convite</h1>
<p>Você foi convidado para um projeto. Para aceitar o convite, clique no botão abaixo</p>
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
        <tr>
          <td align="center">
            <%= link_to 'Aceitar o convite', accept_invitation_url(@resource, invitation_token: @token), class: 'f-fallback button button--green', target: '_blank' %>
          </td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
</table>
<p><strong>Se a alteração não foi requesitada por você apenas ignore este email.</strong></p>
<p>Sua senha será alterada somente se você acessar o link acima e criar uma nova senha</p>
<table class="body-sub" role="presentation">
  <tr>
    <td>
      <p class="sub">Caso o botão acima não funcione, basta copiar esse link no seu navegador:
      </p>
      <p class="sub"><%= link_to accept_invitation_url(@resource, invitation_token: @token), accept_invitation_url(@resource, invitation_token: @token) %></p>
    </td>
  </tr>
</table>
