<li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6">
  <div class="flex min-w-0 gap-x-4">
    <svg class="size-12 text-gray-500 flex-none rounded-full bg-white" fill="none" viewBox="0 0 24 24" stroke-width="1.0" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
    </svg>
    <div class="min-w-0 flex-auto">
      <p class="text-sm/6 font-semibold text-gray-900">
        <%= link_to edit_admin_user_path(user), data: {turbo_frame: 'drawer-frame'} do %>
          <span class="absolute inset-x-0 -top-px bottom-0"></span>
          <%= user.name %>
          <% if user.admin? %>
            <span class="inline-flex items-center gap-x-1.5 rounded-full bg-pink-100 px-1.5 py-0.5 text-xs font-medium text-pink-700">
              Admin
            </span>
          <% end %>
        <% end %>
      </p>
      <p class="mt-1 flex text-xs/5 text-gray-500">
        <%= user.email %>
      </p>
    </div>
  </div>
  <div class="flex shrink-0 items-center gap-x-4">
    <div class="hidden sm:flex sm:flex-col sm:items-end">
      <p class="text-sm/6 text-gray-900">Co-Founder / CEO</p>
      <p class="mt-1 text-xs/5 text-gray-500">Created <%= local_time_ago(user.created_at) %></p>
    </div>
    <svg class="size-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
      <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
    </svg>
  </div>
</li>
