<%= render DrawerComponent.new(title: "Editar Usuário", animate: @user.errors.none?) do %>
  <%= render 'form', user: @user %>
  <% if policy(@user).destroy? %>
    <div class="mt-6 overflow-hidden rounded-lg bg-gray-200 shadow">
      <div class="px-4 py-5 sm:px-6 font-bold">
        Apagar usuário
      </div>
      <div class="bg-white px-4 py-5 sm:p-6">
        <p class="text-red-500 text-xs pb-6">O usuário e todas as suas operações serão apagadas. Não é possível reverter esta ação.</p>
        <%= link_to "Excluir Usuário #{@user.name}",
            admin_user_path(@user),
            data: {turbo_method: :delete, turbo_confirm: 'Excluir o usuário. Tem certeza?', turbo_frame: '_top'},
            class: "flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" %>
      </div>
    </div>
  <% end %>
<% end %>
